// Fonts
@import url('https://fonts.googleapis.com/css?family=Nunito');

// Variables
@import 'variables';

// Bootstrap
@import '~bootstrap/scss/bootstrap';
@import 'auth/auth.scss';
p{
    margin: 0;
}
.messenger{
    .content{
        height: 100vh;
        overflow-y: scroll;
        overflow-x: hidden;
    }
}
