// variables ==============================>
// Color
$pc : #2ca01c;
$sc : #2a3f4c;
$wc : #f9f9f9;
$gc : gray;

// Transition
$ts: all linear .2s;

// box-shadow
$bs: 0 2px 15px rgba(0, 0, 0, 0.175);
